.mainAccount{
    display: flex;
    flex: 1;
}
.viewHeaderAccount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
.viewMainAccount{
    display: flex;
    flex: 1;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
}
.viewContent{
    width: auto;
    background-color: #4A5568;
}
